streamlit
pdfplumber
pytesseract
Pillow
langchain
langchain-core
langchain-community
langchain-huggingface
langchain-text-splitters
langchain-classic
sentence-transformers
faiss-cpu
huggingface-hub
